*{
    box-sizing: border-box;
}

body{
    font-family: "Pixelify Sans", sans-serif;
    margin: 0;
    background-color: #333;
    color: #eee;
}

.main-header{
    background-color: #444;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 8px;
}

.avatar{
    width: 45px;
    height: 45px;
}

.main-header-title{
    color: #faf310;
}

main{
    display: flex;
}

.product-list-section{
    width: 70%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.product-list{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
}

.product-card{
    border: #555 solid 1px;
    background-color: #292929;
    border-radius: 6px;    
    box-sizing: content-box;
    width: 214px;
    text-overflow: ellipsis;
}

.product-card-content{
    display: flex;
    justify-content: center;
    padding: 2px;
    margin: 0;
}

.product-img{
    width: 210px;
    height: 210px;
    object-fit: cover;
    border-radius: 6px;
}

.product-name{
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.product-price{
    font-family: sans-serif;
    padding: 0 4px;
    font-weight: bold;
    text-align: right;
}

.remove-button{
    background-color: #292929;
    border: none;
    cursor: pointer;
    width: 99%;
    display: flex;
    justify-content: center;
    border-radius: 2px;
    padding: 4px 0;
    transition: background-color .2s;
}

.remove-button:hover{
    background-color: #555;
}

.remove-button img{
    width: 16px;
}

.product-form-section{
    text-align: center;
    width: 30%;
    padding: 0 8px;
}

.product-form{
    background-color: #292929;
    padding-top: 12px;
    height: 200px;
    border: none;
    box-shadow: #faf310 3px 4px;
    border-radius: 4px;
}

fieldset{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    gap: 8px;
    border: none;
}

input{
    width: 80%;
    outline: none;
}

button{
    font-family: "Pixelify Sans", sans-serif;
    margin-top: 12px;
    width: 70%;
    padding: 4px;
    border: none;
    transition: box-shadow .2s;
    font-weight: bold;
}

.add-button{
    background-color: #222;
    color: #faf310;
}

.add-button:hover{
    box-shadow: #faf310 0px 1px 4px;
}

.clear-button{
    background-color: #222;
    color: white;
}

.clear-button:hover{
    box-shadow: white 0px 1px 4px;
}

.footer{
    font-family: "Pixelify Sans", sans-serif;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: #292929;
}

/* tablet / mobile (< 1024) */
@media screen and (max-width: 1023px) {
    main{
        display: grid;
        justify-content: center;
        align-content: center;
        justify-items: center
    }

    .product-list-section{
        width: 100%;
        justify-content: center;
    }

    .product-list{
        justify-content: center;
        align-items: center;
    }

    .product-form-section{
        text-align: center;
        width: 70%;
        padding: 0 8px;
    }

}

